<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laidw.mapper.MembershipMapper">

    <!-- =============================抽取SQL片段============================= -->

    <!-- 表名 -->
    <sql id="tableName">
        t_user_group
    </sql>

    <!-- 插入表时涉及的列 -->
    <sql id="insertTableCols">
        (user_id, group_id, role, nickname, is_mute, is_show, is_top)
    </sql>

    <!-- 插入表时涉及的类的属性 -->
    <sql id="insertClassAtts">
        (#{userPubInfo.id}, #{groupPubInfo.id}, #{role}, #{nickname}, #{isMute}, #{isShow}, #{isTop})
    </sql>

    <!-- WHERE id = #{id} -->
    <sql id="whereId">
        WHERE id = #{id}
    </sql>

    <!-- 无条件更新的SET语句 -->
    <sql id="updateSetting">
        role = #{role},
        nickname = #{nickname},
        is_mute = #{isMute},
        is_show = #{isShow},
        is_top = #{isTop},
    </sql>

    <!-- 只更新非空字段时的SET语句 -->
    <sql id="updateSelectivelySetting">
        <if test="role != null">
            role = #{role},
        </if>
        <if test="nickname != null">
            nickname = #{nickname},
        </if>
        <if test="isMute != null">
            is_mute = #{isMute},
        </if>
        <if test="isShow != null">
            is_show = #{isShow},
        </if>
        <if test="isTop != null">
            is_top = #{isTop},
        </if>
    </sql>

    <!-- =============================抽取SQL片段============================= -->


    <!-- =============================定义封装规则============================= -->

    <resultMap id="onlyPubInfoMap" type="com.laidw.entity.Membership">
        <id column="id" property="id" />
        <result column="role" property="role" />
        <result column="nickname" property="nickname" />
        <result column="is_mute" property="isMute" />
        <association property="userPubInfo" column="user_id"
                     select="com.laidw.mapper.UserMapper.selectUserPubInfoById" />
        <association property="groupPubInfo" column="group_id"
                     select="com.laidw.mapper.GroupMapper.selectGroupPubInfoById" />
    </resultMap>

    <resultMap id="fullMap" type="com.laidw.entity.Membership" extends="onlyPubInfoMap">
        <result column="is_show" property="isShow" />
        <result column="is_top" property="isTop" />
    </resultMap>

    <!-- =============================定义封装规则============================= -->


    <!-- =============================编写SQL语句============================= -->
    <insert id="insertMembership" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="tableName" />
        <include refid="insertTableCols" />
        VALUES
        <include refid="insertClassAtts" />
    </insert>
    <delete id="deleteMembership">
        DELETE FROM
        <include refid="tableName" />
        WHERE user_id = #{uid} AND group_id = #{gid}
    </delete>
    <delete id="deleteMembershipsByGroupId">
        DELETE FROM
        <include refid="tableName" />
        WHERE group_id = #{gid}
    </delete>
    <update id="updateMembershipSelectively">
        UPDATE
        <include refid="tableName" />
        <set>
            <include refid="updateSelectivelySetting" />
        </set>
        WHERE user_id = #{userPubInfo.id} AND group_id = #{groupPubInfo.id}
    </update>
    <update id="updateMembershipByIdSelectively">
        UPDATE
        <include refid="tableName" />
        <set>
            <include refid="updateSelectivelySetting" />
        </set>
        <include refid="whereId" />
    </update>
    <select id="selectMembershipById" resultMap="fullMap">
        SELECT * FROM
        <include refid="tableName" />
        <include refid="whereId" />
    </select>
    <select id="selectMembershipPubInfoById" resultMap="onlyPubInfoMap">
        SELECT * FROM
        <include refid="tableName" />
        <include refid="whereId" />
    </select>
    <select id="selectMembership" resultMap="fullMap">
        SELECT * FROM
        <include refid="tableName" />
        WHERE user_id = #{uid} AND group_id = #{gid}
    </select>
    <select id="selectMembershipPubInfo" resultMap="onlyPubInfoMap">
        SELECT * FROM
        <include refid="tableName" />
        WHERE user_id = #{uid} AND group_id = #{gid}
    </select>
    <select id="selectMembershipsByUserId" resultMap="fullMap">
        SELECT * FROM
        <include refid="tableName" />
        WHERE user_id = #{uid}
    </select>
    <select id="selectMembershipsPubInfoByUserId" resultMap="onlyPubInfoMap">
        SELECT * FROM
        <include refid="tableName" />
        WHERE user_id = #{uid}
    </select>
    <select id="selectMembershipsByGroupId" resultMap="fullMap">
        SELECT * FROM
        <include refid="tableName" />
        WHERE group_id = #{gid}
    </select>
    <select id="selectMembershipsPubInfoByGroupId" resultMap="onlyPubInfoMap">
        SELECT * FROM
        <include refid="tableName" />
        WHERE group_id = #{gid}
    </select>
    <!-- =============================编写SQL语句============================= -->

</mapper>