<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verify Your Email</title>
</head>
<body>
    You registered an account or changed your binding email on <a th:href="${projectUrl}">DoItTogether Platform</a>!<br>
    Please click <a th:href="${verifyUrl}">this link</a> to verify your email and validate your account!<br>
    Attention! If you have never done this, please do not click the verifying link!<br>
</body>
</html>